@import "variables.css";
nav.custom-navbar {
    background-color: var(--title-blue) !important;
}

#navbar {
    background-color: var(--primary);
    -webkit-app-region: drag;
}

#text {
    -webkit-app-region: drag;
}